.UiContainer {
    width: 80%;
    margin: auto;
}





.PackageListContainer {
    width: 30%;
    margin:auto;
    height: 800px;
    overflow-y: auto;
    float:left;
}

.PackageInfoContainer {
    width: 70%;
    margin:auto;
    height: 800px;
    overflow-y: auto;
    float:left;
} 

a {
    cursor: pointer;
    color: blue;
}
a:focus {
    background-color: yellow;
}
a:hover{
    background-color: lightgray;
}