body {
    font-size:14px;
    background-color: lightgray;
  }
.UiContainer {
    margin-top: 20px;
    width: 80%;
    margin: auto;
    height: 600px;
    outline-style: solid;
    outline-width: 1px;
    outline-color: darkgray;
    margin-top: 50px;
    
}
@media only screen and (max-width: 600px) {
    .UiContainer{
        width: 100%;
        margin-top: 20px;
    }
    
}


.PackageListContainer {
    width: 40%;
    margin:auto;
    height: 600px;
    overflow-y: auto;
    float:left;
    background-color: white;
    
}

.PackageInfoContainer {
    width: 60%;
    margin:auto;
    height: 600px;
    overflow-y: auto;
    float:left;
    background-color: white;
    
}
.PackageInfoContent  {
    margin: 10px;
}
.PackageListContent {
    margin-right: 15px;
}
.DefaultPackageContent {
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.LinkButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline;
    margin: 0;
    padding: 0;
    color: blue;
  }
  
  .LinkButton:hover,
  .LinkButton:focus {
  text-decoration: none;
  background-color: lightgray;
  }

a {
    cursor: pointer;
    color: blue;
}
a:hover{
    background-color: lightgray;
}
textarea {
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 75%;
    width: 75%;
}



